<template>
<v-main>
  <v-layout wrap>
  <v-card
    class="mx-auto"
    max-width="344"
    outlined
  >
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title 
        class="text-h4 mb-1">
        {{totalProducts}}
        </v-list-item-title>
        <v-list-item-subtitle>Total Products</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-avatar
        tile
        size="80"
        color="grey"
      >
      <v-img src="https://www.pngitem.com/pimgs/m/557-5570897_box-free-vector-icon-designed-by-pixel-buddha.png"></v-img></v-list-item-avatar>
    </v-list-item>

    <v-card-actions>
      <v-btn
        outlined
        rounded
        class="primary"
        dark
        to="products"
      >
        Products
      </v-btn>
    </v-card-actions>
  </v-card>
  <v-card
    class="mx-auto"
    max-width="344"
    outlined
  >
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title 
        class="text-h4 mb-1">
        {{totalPurchases}}
        </v-list-item-title>
        <v-list-item-subtitle>Total Purchases</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-avatar
        tile
        size="80"
      ><v-img src="https://icon-library.com/images/icon-for-purchase/icon-for-purchase-21.jpg"></v-img></v-list-item-avatar>
    </v-list-item>

    <v-card-actions>
      <v-btn
        outlined
        rounded
        dark
        class="primary"
        to="purchases"
      >
        Purchases
      </v-btn>
    </v-card-actions>
  </v-card>
  <v-card
    class="mx-auto"
    max-width="344"
    outlined
  >
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title 
        class="text-h4 mb-1">
        {{totalOrders}}
        </v-list-item-title>
        <v-list-item-subtitle>Total Orders</v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-avatar
        tile
        size="80"
      ><v-img src="https://simg.nicepng.com/png/small/230-2303322_order-png-background-image-online-food-ordering-icon.png"></v-img></v-list-item-avatar>
    </v-list-item>
    <v-card-actions>
      <v-btn
        outlined
        rounded
        dark
        class="primary"
        to="orders"
      >
        Orders
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-layout>
  <br/><br/>
  <v-data-table
    :headers="headers"
    :items="total"
    hide-default-footer
    class="elevation-1"
  ></v-data-table>
</v-main>
</template>

<script>
const URL = "http://localhost:7043";
export default {
  data: () => ({
    totalProducts:'',
    totalPurchases:'',
    totalOrders:'',
     headers: [
          {
            text: 'Category',
            align: 'start',
            value: 'CATE_NAME',class: "blue lighten-2"
          },
          { text: 'Total Purchase Qty', value: 'PRO_PURCHASEQTY',class: "blue lighten-2" },
          { text: 'Total Order Qty', value: 'PRO_ORDERQTY',class: "blue lighten-2" },
          { text: 'Total In stock', value: 'PRO_ONHAND',class: "blue lighten-2" },
        ],
        total:[],
  }),

 created () {
      this.initialize()
    },

    methods: {
      async initialize() {
        console.log("totalProducts")
        const res = await this.$axios.get(URL+"/api/products");
        this.products = res.data.data;
        this.totalProducts=this.products.length;
        console.log("totalPurchases")
        const response = await this.$axios.get(URL+"/api/purchase");
        this.purchase = response.data.data;
        this.totalPurchases=this.purchase.length;
        console.log("totalOrders")
        const responses = await this.$axios.get(URL+"/api/orders");
        this.orders = responses.data.data;
        this.totalOrders=this.orders.length;
        console.log("AlltotalQty")
        const result = await this.$axios.get(URL+"/api/total");
        this.total = result.data.data;
      },
    }
}
</script>

