<template>
  <div class="row">
    <div class="col-12 col-md-9 offset-md-3">
      <h1>Mini Project Topic : Inventory System</h1>
      <br>
      <img src="../static/inventorysystem.png" width="400px"><br>
      <h2>Group member</h2>
      <h2>6131301028 Saw Ah Tar</h2>
      <h2>6331305039 Sirikorn Saeliu</h2>
      <h2>6331305043 Saw Yaw Han Htun</h2>
    </div>
  </div>
</template>