<template>
<div>
  <div class="bg"></div>
   <div class="top-left">INVENTORY  SYSTEM</div>
  <div class="vCard">
  <v-main>
   <v-layout>
    <v-spacer></v-spacer>
  <v-card
    class="mx-auto mt-9"
    max-width="500"
  >
    <v-card-title>
      Login
    </v-card-title>
    <v-card-text>
    <v-text-field label="Email" v-model="email" prepend-icon="mdi-account-circle"/>
    <v-text-field label="Password" v-model="password"
          :type="showPassword ? 'text' : 'password'"
          prepend-icon="mdi-lock"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPassword = !showPassword"/>
    </v-card-text>
    <v-card-actions class="justify-end">
    <v-btn color="success" to="register">Register</v-btn>
    <v-btn color="info" v-on:click="login">Login</v-btn>
    </v-card-actions>
  </v-card> 
  </v-layout> 
  </v-main>
  </div>
</div>
</template>

<script>
const URL = "http://localhost:7043";
  export default {
    layout:'login',
    data(){
    return{
      email:'',
      password:'',
      showPassword:false
    }
  },
  methods:{
    login(){
      if (this.email != "" && this.password != "") {
        this.$axios
          .get(URL+"/api/login/", {
            params: {
              user: this.email,
              pass: this.password,
            },
          })
          .then((data) => {
            if (data.data.response.length == 0) {
                    alert("Unknow User");
                  } else {
                      var user= JSON.stringify(data.data.response);
                      window.sessionStorage.setItem("user", user);
                      this.$router.push({
                        path: "/dashboard",
                      });
                    }                 
                })
                .catch((error) => {
                  alert(error);
                });
            } else{alert("Please enter email and password");}
      
    }
    },     
}
</script>

<style>
.bg{
    width: 50vw;
    height: 95vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../assets/images/img1.png') no-repeat center center;
    background-size: cover;
    transform: scale(1.1);
}

.vCard{
    padding-top: 50px;
    padding-right: 100px;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 100px;
  color: white;
  font-size: 290%;
  font-weight: 500;
}
</style>


