<template>
 <v-card>
    <v-card-title>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
    :headers="headers"
    :items="orders"
    :search="search"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Orders</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              rounded
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New order
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                  >
                    <v-text-field
                      v-model="editedItem.PRO_ID"
                      label="Product ID"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                rounded
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                rounded
                color="primary"
                dark
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn rounded color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn rounded color="primary" dark @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        rounded
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
  </v-card>
</template>

<script>

const URL = "http://localhost:7043";

  export default {
    data: () => ({
      search:'',
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Order ID',
          align: 'start',
          sortable: false,
          value: 'ORDER_ID',
          class: "blue lighten-2",
        },
        { text: 'Product Name', value: 'PRO_NAME',class: "blue lighten-2" },
        { text: 'Category', value: 'CATE_NAME',class: "blue lighten-2" },
        { text: 'Order Qty', value: 'PRO_ORDERQTY',class: "blue lighten-2" },
        { text: 'Order Date', value: 'ORDER_DATE',class: "blue lighten-2" },
        { text: 'Actions', value: 'actions', sortable: false,class: "blue lighten-2"},
      ],
      orders: [],
      editedIndex: -1,
      editedItem: {
        ORDER_ID:0,
        PRO_ID:0,
        ORDER_DATE:'',
      },
      defaultItem: {
        ORDER_ID:0,
        PRO_ID:0,
        ORDER_DATE:'',
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Order' : 'Edit Order'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      async initialize () {
        console.log("initialize")
        const res = await this.$axios.get(URL+"/api/orders");
        this.orders = res.data.data;
      },

      editItem (item) {
        this.editedIndex = this.orders.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      async deleteItem (item) {
        this.editedIndex = this.orders.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
        const res = await this.$axios.delete(URL+"/api/orders/" + this.editedItem.ORDER_ID);
      },

      deleteItemConfirm () {
        this.orders.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      async save () {
        if (this.editedIndex > -1) {
          Object.assign(this.orders[this.editedIndex], this.editedItem)
          const res = await this.$axios.put(URL + "/api/orders/" + this.editedItem.ORDER_ID, this.editedItem);
          console.log(res);
       } else {
          this.orders.push(this.editedItem)
          const res = await this.$axios.post(URL + "/api/orders", this.editedItem);
          console.log(this.editedItem);
          console.log(res);
        }
        this.close()
        this.initialize();
      },
    },
  }
</script>