<template>
<div>
  <v-main>
  <span class="background"></span>
  <v-card
    class="mx-auto mt-9"
    max-width="500"
  >
    <v-card-title class="justify-center">
      Sign Up
    </v-card-title>
    <v-card-text>
    <v-text-field label="Name" v-model="name" prepend-icon="mdi-account-circle"/>
    <v-text-field label="Email" v-model="email" prepend-icon="mdi-email"/>
    <v-text-field label="Password" v-model="password"
    :type="showPassword ? 'text' : 'password'"
    prepend-icon="mdi-lock"
    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
    @click:append="showPassword = !showPassword"/>
    </v-card-text>
    <v-card-actions class="justify-center">
    <v-btn color="success" v-on:click="Signup">Sign Up</v-btn>
    </v-card-actions>
  </v-card>
  </v-main>
</div>
</template>

<script>
const URL = "http://localhost:7043";
  export default {
    layout:'login',
    data(){
    return{
      name:'',
      email:'',
      password:'',
      showPassword:false
    }
  },
    methods:{
      async Signup(){
        let res = await this.$axios.post(URL+"/api/users",{
          USER_NAME:this.name,
          EMAIL:this.email,
          PASSWORD:this.password
        });
        console.warn(res);
        if(res.status==200){
          alert("Sign up successfully");
        }
      }
    },
  }
</script>

<style>
.background{
    width: 93vw;
    height: 93vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url( '../assets/images/inv1.png') no-repeat center center;
    background-size: cover;
    transform: scale(1.1);
    background-color: #1976D2;
}
</style>