<template>
  <div class="row meawpage">
    <div class="col-12 col-md-3">
      <img src="../static/ahTar-pic.jpg" width="200px" />
    </div>

    <div class="col-12 col-md-9" style="text-align: left">
      <h1>Name : Saw Ah Tar</h1>
      <h1>Student ID : 6131301028</h1>
      <br />
      <h3>
        I am a last year student from IT major at Mae Fah Luang university.<br />
        I am going to graduate on last week of May, 2022. Warmly invite you all for come to my graduation.<br />
      </h3>
    </div>
  </div>
</template>

<style>
.meawpage {
  background-color: #a1a6a0;
  color: green;
}
</style>


