<template>
    <div class = "row johnPage">
        <div class = "col-12 col-md-3" aling="center">
            <img src="../static/john-pic.jpg" width="200px">
        </div>

        <div class = "col-12 col-md-9" >
            <h1>Name : Saw Yaw Han Htun!</h1>
            <h1>Student ID : 6331305043</h1><br>
            <h3>I am a slow learner but I like difficult major, Software Engineering.</h3>
            <h3>If you want to know more about me please visit <a href="https://johnweb.web.app/" target="_blank">my profile web site</a> or you can scan this QR quote-</h3>
            <br>
            <img src="../static/qr.png" width="100px">
        </div>
    </div>
</template>

<style>

    .johnPage{
        background-color:#A1A6A0;
    }
    .johnPage h1,h3{
        color:green;
    }

</style>