<template>
  <div class="row meawpage">
    <div class="col-12 col-md-3">
      <img src="../static/meaw.jpg" width="200px" />
    </div>

    <div class="col-12 col-md-9" style="text-align: left">
      <h1>Name : Sirikorn Saeliu</h1>
      <h1>Student ID : 6331305039</h1>
      <br />
      <h3>
        A sophomore Software Engineering student at Mae Fah Luang university.<br />
        Have a basic understanding of Java, HTML, CSS, and Javascript.<br />
        My hobbies are watching anime, reading novels, and listening to music ♡.
      </h3>
    </div>
  </div>
</template>

<style>
.meawpage {
  background-color: #a1a6a0;
  color: green;
}
</style>


